<section id="footer" >
			<div class="footerUp" layout="row" layout-align="center">

				<div class="container" 
					layout-sm="row" layout-align-sm="center center"
					layout-md="row" 
					layout-gt-md="row" >

					<div class="footerLogo" 
						flex-xs="100"
						flex-sm="0"
						flex-md="20"
						flex-gt-md="20">
						<a href="javascript:void(0)"><img src="img/logo.png" alt="" ></a>
					</div>

					<ul flex-xs="100"
						flex-sm="100"  
						flex-md="70" flex-offset-md="10"
						flex-gt-md="60" flex-offset-gt-md="20"

						layout-xs="column" layout-align-xs="stretch"
						layout-sm="row" layout-align-sm="space-between center"
						layout-md="row" layout-align-md="space-between center"
						layout-gt-md="row" layout-align-gt-md="space-between center" layout-wrap>

						<li ><a href="javascript:void(0)">Группа компании</a></li>
						<li ><a href="javascript:void(0)">Виды деятельности</a></li>
						<li ><a href="javascript:void(0)">Как мы работаем</a></li>
						<li ><a href="javascript:void(0)">Проекты</a></li>
						<li ><a href="javascript:void(0)">Контакты</a></li>
					</ul>
				</div>
			</div>

			<div class="footerDown" 
				layout-xs="row" layout-align-xs="center"
					layout-sm="row" layout-align-sm="center"
					layout-md="row" layout-align-md="end"
					layout-gt-md="row" layout-align-gt-md="end">

				
					<span>© 2016 KRONOS GROUP. All Rights Reserved.</span>
				
			</div>
		</section>