<div class="remodal md-whiteframe-3dp" id="modal_test" data-remodal-id="modal" data-remodal-options='{ "hashTracking": false }'>
  <button data-remodal-action="close" class="remodal-close"></button>
  <p>
   	Группой компанией КРОНОС выполнялись работы по ремонту торгового центра.<br><br>
   	Работы были выполнены в соответствии с действующими строительными нормами и правилами, согласно техническому заданию, с надлежащим качеством и в установленный срок. При этом, в ходе производства работ максимально учитывались пожелания заказчика, использовались современные строительные материалы и прогрессивные технологии в отделке помещений.
  </p>
</div>