	<md-sidenav class="md-sidenav-right mainSidenav" md-component-id="left"
                 md-whiteframe="4" hide-gt-md hide-gt hide-sm hide-md hide-lg  layout="column">
		<md-toolbar layout="row" layout-align="end center">
	       		<md-button  ng-click="toggleLeft()" class="md-primary closeSidenav" aria-label="Settings">
					<md-icon md-svg-icon="img/icons/angle-right.svg"></md-icon>
				</md-button>
				<img src="img/logo.png" alt="" >
	    </md-toolbar>
		
		<md-content layout-align="center center" layout-fill layout="row">
	        <ul layout="column" layout-align="stretch" >
								<li><a href="javscript:void(0)" layout-fill>Группа компании</a></li>
								<li><a href="javscript:void(0)">Виды деятельности</a></li>
								<li><a href="javscript:void(0)" ng-click="toggleLeft()">Как мы работаем</a></li>
								<li><a href="#/projects" ng-click="toggleLeft()">Проекты</a></li>
								<li><a href="#/contacts" ng-click="toggleLeft()">Контакты</a></li>
			</ul>
	    </md-content>

    </md-sidenav>